{% extends "base/base.html" %}
{% block main %}
<!-- Masthead
     ================================================== -->
<div class="page-header">
  <h1 id="title">著者アーカイブ</h1>
</div>
<p class="lead">氏名: {{ author.name|default:"" }}<br>
  学籍番号: {{ author.student_id|default:"" }} <small>{{ author.nickname|default:"" }}</small></p>
<div class="subnav">
  <ul class="nav nav-pills">
    <li><a href="#select_photo">写真選択</a></li>
    <li><a href="#select_type">書き出し形式</a></li>
    <li><a href="#download">ダウンロード</a></li>
  </ul>
</div>

<br>
{% if files %}
<!-- The file upload form used as target for the file upload widget -->
<form id="fileuploads" action="/upload/" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <div class="row fileupload-buttonbar">
    <div class="span7">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <button type="submit" class="btn btn-primary start">
        <i class="icon-upload icon-white"></i>
        <span>アップロード開始</span>
      </button>
      <button type="reset" class="btn btn-warning cancel">
        <i class="icon-ban-circle icon-white"></i>
        <span>アップロード中止</span>
      </button>
      <button type="button" class="btn btn-success archive">
        <i class="icon-download icon-white"></i>
        <span>アーカイブ対象選択</span>
      </button>
      <input type="checkbox" class="atoggle">
    </div>
    <!-- The global progress information -->
    <div class="span5 fileupload-progress fade">
      <!-- The global progress bar -->
      <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="bar" style="width:0%;"></div>
      </div>
      <!-- The extended global progress information -->
      <div class="progress-extended">&nbsp;</div>
    </div>
  </div>
  <!-- The loading indicator is shown during file processing -->
  <div class="fileupload-loading"></div>
  <h2 id="select_photo">写真選択</h2>
  <!-- The table listing the files available for upload/download -->
  <div class="well">
    <table role="presentation" class="table table-striped">
      <thead>
        <tr class="template-upload">
          <th>プレビュー</th><th>ファイル情報</th><th>著者情報</th><th>ステータス</th><th></th><th></th>
        </tr>
      </thead>
      <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
        {% for file in files %}
        <tr class="template-download">
          <td class="preview">
            <a href="{{file.get_original_img_url}}" title="{{file.title}}" rel="gallery" download="{{file.title}}" class="thumbnail" uuid="{{file.uuid}}">
              <img src="{{file.get_thumbnail_img_url}}">
            </a>
          </td>
          <td class="name">
            <ul>
              <li>ファイル名: <a href="{{file.get_original_img_url}}" title="{{file.title}}" rel="gallery" download="{{file.title}}" uuid="{{file.uuid}}">{{file.title}}</a></li>
              <li>元のファイル名: <span>{{file.original_title}}</span></li>
              <li>撮影日: <span>{{file.published_at}}</span></li>
              <li>写真の大きさ: <span>{{file.image_width}} x {{file.image_height}}, {{file.image.size|filesizeformat}}</span></li>
            </ul>
          </td>
          <td class="author">
            {% if file.get_authors %}
            <ul>
              {% for a in file.get_authors %}
              <li>
                <a href="/author/{{a.student_id|urlencode}}/" target="_blank">{{a.student_id}}({{a.name}})</a>
              </li>
              {% endfor %}
              <ul>
            {% else %}
            <div class="alert alert-warnig alert-block">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Warning!</h4>
              登録された著者情報が見つかりません
            </div>
            {% endif %}
          </td>
          <td class="status">
          </td>
          <td class="delete">
            <button class="btn btn-success" data-type="DOWNLOAD" data-url="/photo/{{file.uuid}}/download/">
              <i class="icon-download icon-white"></i>
              <span>アーカイブ対象</span>
            </button>
            <input type="checkbox" name="download" value="{{photo.uuid}}" checked>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <h2 id="select_type">書き出し形式選択</h2>
  <div class="row thumbnails">
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_type" value="1" checked>
        日付ごとにフォルダ分け(年月日)
        <img class="thumbnail" src="{{ STATIC_URL }}/img/screenshot/ziptype01.png">
      </label>
    </div>
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_type" value="2">
        日付ごとにフォルダ分け(年月)
        <img class="thumbnail" src="{{ STATIC_URL }}/img/screenshot/ziptype02.png">
      </label>
    </div>
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_type" value="3">
        日付ごとにフォルダ分け(年)
        <img class="thumbnail" src="{{ STATIC_URL }}/img/screenshot/ziptype03.png">
      </label>
    </div>
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_type" value="4">
        すべて同じフォルダ
        <img class="thumbnail" src="{{ STATIC_URL }}/img/screenshot/ziptype04.png">
      </label>
    </div>
  </div>
</div>
  {% csrf_token %}
</form>
<div id="download" class="download-btn">
  <a class="btn btn-primary disabled" id="btn_archive_downlowd" href="/archive/author/{{author.student_id|urlencode}}/" >ダウンロード</a>
</div>
{% else %}
<p class="nocontent">アップロードされた写真がありません</p>
  {% endif %}
  {% include "component/image_modal.html" %}
  {% endblock main %}
