{% extends "base/base.html" %}
{% block main %}
<!-- Masthead
     ================================================== -->
<div class="page-header">
  <h2 id="title">著者アーカイブ</h2>
</div>
<p class="lead">氏名: {{ author.name|default:"" }} <small>{{ author.nickname|default:"" }}</small><br>
  学籍番号: {{ author.student_id|default:"" }}</p>
<div class="subnav">
  <ul class="nav nav-pills">
    <li><a href="#select_photo">写真選択</a></li>
    <li><a href="#select_type">書き出しフォルダ形式設定</a></li>
    <li><a href="#select_finelame">写真ファイル名設定</a></li>
    <li><a href="#select_zipfile">書き出しファイル名設定</a></li>
    <li><a href="#download_archive">ダウンロード</a></li>
  </ul>
</div>

<br>
{% if files %}
<!-- The file upload form used as target for the file upload widget -->
<form id="fileuploads" action="/archive/author/{{author.student_id}}/" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <div class="row fileupload-buttonbar">
    <!-- The global progress information -->
    <div class="span5 fileupload-progress fade">
      <!-- The global progress bar -->
      <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="bar" style="width:0%;"></div>
      </div>
      <!-- The extended global progress information -->
      <div class="progress-extended">&nbsp;</div>
    </div>
  </div>
  <!-- The loading indicator is shown during file processing -->
  <div class="fileupload-loading"></div>
  <h2 id="select_photo">写真選択</h2>
  <!-- The table listing the files available for upload/download -->
  <div class="well">
    <table role="presentation" class="table table-striped">
      <thead>
        <tr class="template-upload">
          <th>プレビュー</th>
          <th>ファイル情報</th>
          <th>著者情報</th>
          <!-- <th>ステータス</th> -->
          <th>
            <label>
              <i class="icon-check"></i>
              <span>全選択</span>
              <input type="checkbox" id="atoggle" class="atoggle" checked="checked">
            </label>
          </th>
        </tr>
      </thead>
      <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
        {% for file in files %}
        <tr class="template-download">
          <td class="preview">
            <a href="{{file.get_original_img_url}}" title="{{file.title}}" rel="gallery" download="{{file.title}}" class="thumbnail" uuid="{{file.uuid}}">
              <img src="{{file.get_thumbnail_img_url}}" alt="photo">
            </a>
          </td>
          <td class="name">
            <ul>
              <li>ファイル名: <a href="{{file.get_original_img_url}}" title="{{file.title}}" rel="gallery" download="{{file.title}}" uuid="{{file.uuid}}">{{file.title}}</a></li>
              <li>元のファイル名: <span>{{file.original_title}}</span></li>
              <li>撮影日: <span>{{file.published_at}}</span></li>
              <li>キャプション: <span>{{file.caption|default:"なし"}}</span></li>
              <li>コメント: <span>{{file.comment|default:"なし"}}</span></li>
            </ul>
          </td>
          <td class="author">
            {% if file.get_authors %}
            <ul>
              {% for a in file.get_authors %}
              <li>
                <a href="/author/{{a.student_id|urlencode}}/" target="_blank">{{a.student_id}}({{a.name}})</a>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <div class="alert alert-warnig alert-block">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Warning!</h4>
              登録された著者情報が見つかりません
            </div>
            {% endif %}
          </td>
          <!-- <td class="status"></td> -->
          <td class="command">
            <label>
              <i class="icon-download"></i>
              <span>アーカイブ対象</span>
              <input type="checkbox" class="isarchive" name="isarchive" value="{{file.uuid}}" checked="checked">
            </label>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr class="soften">
  <h2 id="select_type">書き出しフォルダ形式設定</h2>
  <div class="row thumbnails">
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_type" value="1">
        日付ごとにフォルダ分け(年月日)
        <img class="thumbnail" src="{{ STATIC_URL }}/img/screenshot/ziptype01.png" alt="format y/m/d">
      </label>
    </div>
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_type" value="2">
        日付ごとにフォルダ分け(年月)
        <img class="thumbnail" src="{{ STATIC_URL }}/img/screenshot/ziptype02.png" alt="format y/m">
      </label>
    </div>
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_type" value="3" checked>
        日付ごとにフォルダ分け(年)
        <img class="thumbnail" src="{{ STATIC_URL }}/img/screenshot/ziptype03.png"  alt="format y">
      </label>
    </div>
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_type" value="4">
        すべて同じフォルダ
        <img class="thumbnail" src="{{ STATIC_URL }}/img/screenshot/ziptype04.png" alt="same folder">
      </label>
    </div>
  </div>
  <hr class="soften">
  <h2 id="select_finelame">写真ファイル名設定</h2>
  <div class="row thumbnails">
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_filename" value="1">
        自動設定されたファイル名(撮影日)<br>
        例) 20120724192207_00046.jpg
      </label>
    </div>
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_filename" value="2">
        オリジナル(元)のファイル名<br>
        例) P1020016.JPG
      </label>
    </div>
    <div class="span3">
      <label class="radio">
        <input type="radio" name="archive_filename" value="3" checked>
        キャプションとして設定した名前(未設定ファイルは日付)<br>
        例) 夏季自由研究.jpg
      </label>
    </div>
  </div>
  <hr class="soften">
  <h2 id="select_zipfile">書き出しファイル名設定</h2>
  <div>
    <div class="controls input-append">
      <label class="control-label">初期設定: archive_学生ID_名前.zip</label>
      <input type="text" name="archive_zipfile" class="input-xlarge" value="archive_{{author.student_id}}_{{author.name}}">
      <span class="add-on">.zip</span>
    </div>
  </div>
  {% csrf_token %}
  <hr class="soften">
  <h2 id="download_archive">ダウンロード</h2>
  <div id="download" class="download-btn">
    <button class="btn btn-success" type="submit">
      <span>アーカイブ化</span>
    </button>
    <div class="alert alert-ja alert-info">
      <p>ファイル数によっては処理に時間がかかる場合があります。ボタンをクリックしたあとはダウンロードダイアログが出てくるまでお待ちください。</p>
    </div>
  </div>
  </div>
  <!-- <div id="download" class="download-btn"> -->
  <!--   <a class="btn btn-primary disabled" id="btn_archive_downlowd" href="#">ダウンロード</a> -->
  <!-- </div> -->
  <!-- </div> -->
</form>
{% else %}
<p class="nocontent">アップロードされた写真がありません</p>
{% endif %}
{% include "component/image_modal.html" %}
{% endblock main %}
