<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade">
    {% if (file.error) { %}
    <td></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="error"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else { %}
    <td class="preview">{% if (file.thumbnail_url) { %}
      <a href="{%=file.url%}" title="{%=file.title%}" rel="gallery" download="{%=file.title%}" class="thumbnail" uuid="{%=file.uuid%}"><img src="{%=file.thumbnail_url%}"></a>
      {% } %}</td>
    <td class="name">
      <ul>
        <li>ファイル名: <a href="{%=file.url%}" title="{%=file.title%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.title%}" uuid="{%=file.uuid%}">{%=file.title%}</a></li>
        <li>元のファイル名: <span>{%=file.name%}</span></li>
        <li>撮影日: <span>{%=file.published_at%}</span></li>
        <li>写真の大きさ: <span>{%=o.formatFileSize(file.size)%}</span></li>
        <li>キャプション: <span>{%=file.caption%}</span></li>
        <li>コメント: <span>{%=file.comment%}</span></li>
      </ul>
    </td>
    <td class="author">
      {% if (file.already) { %}
      <div class="alert alert-error alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Warning!</h4>
        すでに登録済みの写真です
      </div>
      {% } %}
      {% if (file.author) { %}
      <a href="/author/{%=file.author.student_id%}/" target="_blank"><p>Author: {%=file.author.name%}<small><br>ID: {%=file.author.student_id%}<br>入学年度: {%=file.author.admitted_year%}</small></p></a>
      {% } else { %}
      <div class="alert alert-warnig alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Warning!</h4>
        登録された著者情報が見つかりません
      </div>
      {% } %}
    </td>
    {% } %}
    <!-- <td class="delete"> -->
    <!--   <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"> -->
    <!--     <i class="icon-trash icon-white"></i> -->
    <!--     <span>{%=locale.fileupload.destroy%}</span> -->
    <!--   </button> -->
    <!--   <input type="checkbox" name="delete" value="1"> -->
    <!-- </td> -->
    <td class="update">
      <a class="btn btn-success" href="/photo/{%=file.uuid%}/">
        <i class="icon-refresh icon-white"></i>
        編集
      </a>
      <!-- <button class="btn btn-info" data-type="{%=file.update_type%}" data-url="{%=file.update_url%}"> -->
      <!--   <i class="icon-refresh icon-white"></i> -->
      <!--   <span>{%=locale.fileupload.update%}</span> -->
      <!-- </button> -->
      <!-- <input type="checkbox" name="update" value="1"> -->
    </td>
  </tr>
  {% } %}
</script>
