<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn btn-info modal-detail" target="_blank">
      <i class="icon-info-sign icon-white"></i>
      <span>詳細</span>
    </a>
    <a class="btn modal-download" target="_blank">
      <i class="icon-download"></i>
      <span>ダウンロード</span>
    </a>
    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
      <i class="icon-play icon-white"></i>
      <span>スライドショー</span>
    </a>
    <a class="btn btn-primary modal-prev">
      <i class="icon-arrow-left icon-white"></i>
      <span>前</span>
    </a>
    <a class="btn btn-primary modal-next">
      <span>次</span>
      <i class="icon-arrow-right icon-white"></i>
    </a>
  </div>
</div>
