    <!-- Navbar
         ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">iArchives</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if not target %}class="active"{% else %}{%ifequal target "home"%}class="active"{%endifequal%}{% endif %}><a href="/">Home</a></li>
              <li {%ifequal target "upload"%}class="active"{%endifequal%}><a href="/upload/">Upload</a></li>
              <li {%ifequal target "photo"%}class="active"{%endifequal%}><a href="/photo/">Photo</a></li>
              <li {%ifequal target "author"%}class="active"{%endifequal%}><a href="/author/">Author</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
