@charset 'UTF-8';

/* body{ */
/*     /\* padding-top: 80px; *\/ */
/*     padding-bottom: 40px; */
/* } */
.template-download img{
    width: 150px;
}
.nowrap{
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
footer{
  padding-top: 10px;
  color: #777777;
  /* background: -o-linear-gradient(top, #1c1c1c 0%, #2f2f2f 10%, #1c1c1c 100%), transparent; */
  /* background: -ms-linear-gradient(top, #1c1c1c 0%, #2f2f2f 10%, #1c1c1c 100%), transparent; */
  /* background: linear-gradient(top, #1c1c1c 0%, #2f2f2f 10%, #1c1c1c 100%), transparent; */
  /* background: -webkit-linear-gradient(top, #1c1c1c 0%, #2f2f2f 10%, #1c1c1c 100%), transparent; */
  /* background: -moz-linear-gradient(top, #1c1c1c 0%, #2f2f2f 10%, #1c1c1c 100%), transparent; */
}
footer a{
    color:#bbbbbb;
}
footer a:hover{
    color:#333333;
}
table.table-select tbody tr:hover{
    cursor:pointer;
}
table.table-select tbody tr:hover *{
    color:navy;
    text-decoration: underline;
}
img.orient3{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(180deg);
    -goog-ms-transform: rotate(180deg);
}
.orient6{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -goog-ms-transform: rotate(90deg);
}
.orient8{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -goog-ms-transform: rotate(-90deg);
}